{% extends 'base.html' %}

{% load static %}

{% block content %}
                <main style="background-color: #e7ecef; height: 100vh;">
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                         
                        <div class="row">
                          
                            <p style="color: rgb(150, 150, 150);padding-right: 1000px;font-size: 20px;"> Welcome {{user.first_name}} {{user.last_name}}!!</p>
                            
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card text-white mb-4" style="background: linear-gradient(135deg, #1e5b5c, #368a83);">
                                    <div class="card-body">Total Uploaded Subject Notes({{uploadedsub_count}})</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'manage_notes' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card text-white mb-4" style="background: linear-gradient(135deg, #284a4b, #3a967a);">
                                    <div class="card-body">Total Uploaded Files({{total_files}})</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'manage_notes' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                           
                           
                        </div>
                       
                    </div>
                </main>{% endblock %}